@import url("https://fonts.cdnfonts.com/css/poppins");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

li a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

body {
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    padding: 5px 10px;
    border-radius: 20px;
    transition-duration: 0.3s;
    background-color: #3C3D9D;
    color: #fff;
}

nav .title {
    font-size: x-large;
    font-weight: 700;
}

.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    bottom: 0;
    left: 0;
    font-size: small;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

.landing-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-daftar {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 8px 40px;
    background-color: #5d5feff7;
    color: white;
    box-shadow: 0 0 15px #5ddefe;

}

.btn-daftar:hover {
    background-color: #3C3D9D;
    color: #fff;
    transition: 0.2s;
    box-shadow: 4px 2px 16px 0px #ffffff,
        4px 2px 16px 0px rgb(95 157 231 / 48%);
}

.btn-login {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 8px 40px;
    background-color: white;
    color: #5d5fef;
    box-shadow: 0 0 15px #5d5fef;
}

.btn-login:hover {
    background-color: #5ddefe;
    color: #fff;
    transition: 0.2s;
    box-shadow: 4px 2px 16px 0px #ffffff,
        4px 2px 16px 0px rgb(95 157 231 / 48%);
}


#hamburger {
    display: none;
}

#close {
    display: none;
}

@media only screen and (max-width: 1040px) {
    .assets {
        width: 300px;
    }

    .landing-text h3 {
        font-size: 18px;
    }

    .landing-text h1 {
        font-size: 30px;
    }

    .landing-text p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {

    .landing-text h3 {
        font-size: 20px;
    }

    .landing-text h1 {
        font-size: 24px;
    }

    .landing-text p {
        font-size: 16px;
    }

    .landing {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .btn-group {
        justify-content: center;
    }


    .assets {
        width: 50%;
    }
}


@media only screen and (max-width: 620px) {
    .hidden {
        display: none;
    }

    nav {
        flex-wrap: wrap;
        padding: 20px 50px;
        justify-content: space-between;
    }

    #hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
    }

    nav ul li a {
        color: white;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5d5fef;
        height: 100dvh;
        width: 100%;
    }

    #close {
        display: block;
        color: white;
        font-size: 30px;
        position: absolute;
        top: 24px;
        right: 52px;
        cursor: pointer;
    }

    footer {
        font-size: 10px;
    }
}